/* AlbumCard Not Yet In Use */
.card {
    background-color: #000;
    height: 500px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-out;
}